a:hover {
  /*color: #000000;*/
  text-decoration: none;
}

a {
  color: #fcfcfc;
  background-color: transparent;
}

a {
  text-decoration: none;
}

.login-dark form .btn-primary {
  background: #ffc03d;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none;
}

